body{
background-color:white;
background:blur;
color:purple;
}

form{
padding-top:25px;
color:black;
font-family:FreeMono, monospace;
font-weight:;
background-color:black;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
padding-left:25px;
margin-bottom:15px;
}
h1{
  justify-content:space-between;
}
h1,p{
  text-align:center;
  lenght:auto;
  width:auto;
  font-family:FreeMono, monospace;
  color:purple;
  margin:5px;
}

h2{
  opacity:0.8;
  font-family:FreeMono, georgia;
}
  
p2{
  font-size:19px;
  opacity:0.7;
}

#submit{
  margin-left:230px;
  margin-bottom:15px;
  color:purple;
  font-size:35px;
  border-raduis:50px;
  padding: 1px 15px;
  box-shadow: 1px 1px 2px black, 0 0 2px blue, 0 0 5px    darkblue;
}

textarea{
  justify-content:center;
  color:green;
  margin:25px;
  background-color:rgba( 255, 255, 255, 0.25 );
  border-color:purple;
  border-size:1px;
}

#submit:hover{
   background-color: purple;
  color:white;
}
